flask
nltk
pdfminer.six
python-docx
pandas
joblib
PyMuPDF
gunicorn
mysql-connector-python
python-dotenv
reportlab
bcrypt
flask-bcrypt
pytesseract
wikipedia
requests
spacy==3.5.4
pyresparser==1.0.6
blis==0.7.9
thinc==8.1.7
preshed==3.0.8
murmurhash==1.0.9
numpy==1.23.5



